
<div class="span6 offset3">
	<div class="boxy">
	<h1 class="custom-font">Namaste! Mera naam Xaviera hai.</h1>


	<p class="custom-font">I'm having a ton of fun learning ruby on rails. Soon all the rubies shall be mine! Muahahaha.</p>
	<%= link_to('Begin Heist', new_pic_path, :class => 'btn btn-success btn-large') %>

	</div>
</div>